<?xml version="1.0" ?>
<nlog autoReload="true" throwExceptions="true" internalLogFile="${basedir}/App_Data/nlog.txt" internalLogLevel="Debug"
      internalLogToConsole="true">

    <extensions>
        <add assembly="NLog.Extended" />
    </extensions>
    
    <targets>
        <!--Useful for debugging-->
        <target name="consolelog" type="ColoredConsole"
         layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />

        <target name="filelog" type="File" fileName="${basedir}/App_Data/Site.log"
         layout="${date}: ${message}" />

        <target name="eventlog" type="EventLog" source="My App" log="Application"
         layout="${date}: ${message} ${stacktrace}" />

        <target name="databaselog" type="Database">

            <dbProvider>sqlserver</dbProvider>

            <connectionString>
                Data Source=192.168.137.228;Initial Catalog=ErrorLog;Persist Security Info=True;User ID=testdb;Password=test1234;
            </connectionString>

            <commandText>
                insert into NLog_Record (time_stamp, level, host, url, type, source, logger, message, stacktrace, Detail, allxml) 
                Values(@time_stamp, @level, @host, @url, @type, @source, @logger, @message, @stacktrace, @detail, @allxml);
            </commandText>

            <parameter name="@time_stamp" layout="${utc_date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@host" layout="${machinename}" />
            <parameter name="@url" layout="${aspnet-request:serverVariable=url}" />
            <parameter name="@type" layout="${exception:format=type}" />
            <parameter name="@source" layout="${callsite:className=true}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@stacktrace" layout="${exception:stacktrace}" />
            <parameter name="@detail" layout="${exception:format=tostring}" />
            <parameter name="@allxml" layout="${web_variables}" />

        </target>

    </targets>

    <rules>
        <!--
    <logger name="*" minlevel="Fatal" writeTo="eventlog" />
    -->
        <logger name="*" minlevel="Info" writeTo="filelog" />
        <logger name="*" minlevel="Info" writeTo="databaselog" />
    </rules>

</nlog>