<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
    <targets>
        <!-- add your targets here -->

        <target xsi:type="File" name="f" fileName="${basedir}/App_Data/logs/${shortdate}.log"
                layout="${longdate} ${uppercase:${level}} ${message}" />

        <target name="database" type="Database">
            <dbprovider>mssql</dbprovider>
            <connectionString>
                Data Source=192.168.137.228;Initial Catalog=ErrorLog;Persist Security Info=True;User ID=testdb;Password=test1234;
            </connectionString>
            <commandText>
                insert into NLog_Record (time_stamp, level, host, url, type, source, logger, message, stacktrace, Detail, allxml)
                Values(@time_stamp, @level, @host, @url, @type, @source, @logger, @message, @stacktrace, @detail, @allxml);
            </commandText>
            <parameter name="@time_stamp" layout="${utc_date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@host" layout="${machinename}" />
            <parameter name="@url" layout="${aspnet-request:serverVariable=url}" />
            <parameter name="@type" layout="${exception:format=type}" />
            <parameter name="@source" layout="${callsite:className=true}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@stacktrace" layout="${exception:stacktrace}" />
            <parameter name="@detail" layout="${exception:format=tostring}" />
            <parameter name="@allxml" layout="${web_variables}" />
        </target>

        <target type="Mail" name ="FatalMail"
                smtpServer="smtp.gmail.com"
                smtpPort="587"
                smtpAuthentication="Basic"
                smtpUsername="你要寄出的Email帳號"
                smtpPassword="寄出Email的密碼"
                enableSsl="true"
                addNewLines="true"
                from="寄出的Email"
                to="收信的Email"
                subject="${machinename} 於 ${shortdate} ${time} Log級別：${level} 於 ${callsite:className=true}, 出現 ${exception:format=type}！"
                header="========================================================================="
                body="${newline}
發生時間：${longdate} ${newline}${newline}
Log等級：${level:uppercase=true} ${newline}${newline}
Logger：${logger} ${newline}${newline}
Source：${callsite:className=true} ${newline}${newline}
Exception類別：${exception:format=type} ${newline}${newline}
錯誤訊息：${message} ${newline}${newline}"
                footer="========================================================================="
	    />

        <target buffersize="5" name="ErrorMail" xsi:type="BufferingWrapper">
            <target type="Mail"
                    smtpServer="smtp.gmail.com"
                    smtpPort="587"
                    smtpAuthentication="Basic"
                    smtpUsername="你要寄出的Email帳號"
                    smtpPassword="寄出Email的密碼"
                    enableSsl="true"
                    addNewLines="true"
                    from="寄出的Email"
                    to="收信的Email"
                    subject="${machinename} 於 ${shortdate} ${time} Log級別：${level} 出現錯誤！"
                    header="========================================================================="
                    body="${newline}
發生時間：${longdate} ${newline}${newline}
Log等級：${level:uppercase=true} ${newline}${newline}
Logger：${logger} ${newline}${newline}
Source：${callsite:className=true} ${newline}${newline}
Exception類別：${exception:format=type} ${newline}${newline}
錯誤訊息：${message} ${newline}${newline}"
                    footer="========================================================================="
		    />
        </target>        

    </targets>

    <rules>
        <!-- add your logging rules here -->

        <logger name="*" maxlevel="info" writeTo="f" />
        <logger name="*" minlevel="warn" writeTo="database" />
        <logger name="*" level="Fatal" writeTo="FatalMail" />
        <logger name="*" level="Error" writeTo="ErrorMail" />

    </rules>
</nlog>